/* ### CUSTOM PROPERTIES ### */

:root {
  /* # PRIMARY # */
  --red-500: hsl(10, 79%, 65%);
  --blue-300: hsl(186, 34%, 65%);
  /* # NEUTRAL # */
  --brown-950: hsl(25, 47%, 15%);
  --brown-400: hsl(28, 10%, 53%);
  --red-100: hsl(26, 66%, 93%);
}
