/* ### CUSTOM PROPERTIES ### */

:root {
  /* # PRIMARY # */
  --red-500: hsl(10, 79%, 65%);
  --blue-300: hsl(186, 34%, 65%);
  /* # NEUTRAL # */
  --brown-950: hsl(25, 47%, 15%);
  --brown-400: hsl(28, 10%, 53%);
  --red-100: hsl(26, 66%, 93%);
  /* # TYPOGRAPHY # */
  --ff-dm-sans: "DM Sans", sans-serif;
  --fw-400: 400;
  --fw-700: 700;
}

/* ### CSS RESET ### */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

svg,
picture,
img {
  display: block;
  max-width: 100%;
}

/* ### UTILITY CLASSES ### */

.orange-bar {
  background-color: var(--red-500);
}

.blue-bar {
  background-color: var(--blue-300);
}

/* ### GENERAL STYLING */

body {
  background-color: var(--red-100);
  font-family: var(--ff-dm-sans);
  font-weight: var(--fw-400);
}
